.faq-container {
    max-width: 600px;
    margin-top: 30px;
    margin-left: 30%;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    position: relative;
  }
  
  .faq-item.active {
    background-color: #f0f0f0;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-icon {
    font-size: 24px;
    line-height: 1;
  }
  
  .faq-answer {
    display: none;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  