/* Style for the entire journal page */
.journal-page {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  /* Style for the menu bar */
  .menu-bar {
    background-color: grey;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .menu-bar ul {
    list-style: none;
    padding: 0;
  }
  
  .menu-bar li {
    display: inline;
    margin: 0 20px;
  }
  
  .menu-bar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Style for the chat container */
  .chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px #888888;
  }
  
  /* Style for the chat log */
  .chat-log {
    flex-grow: 1;
    overflow-y: scroll;
  }
  
  .chat-message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Style for the chat input */
  .chat-input {
    display: flex;
    align-items: center;
  }
  
  .chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .chat-input button {
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px){
    .journal-page {
        padding: 5px;
    }

    .menu-bar li {
        margin: 0 5px;
    }

    .chat-message {
        padding: 5px;
        margin: 5px 0;
    }

    .chat-input input {
        padding: 5px;
    }

    .chat-input button {
        padding: 5px 10px;
    }
}